
.aboutme_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}


.aboutme-image{
    width: 350px;
    height: 350px;
}
.aboutme-image img{
    width: 100%;
    border-radius: 20px;
}


.about-content-right{
    display: grid;
    align-items: center;
}
.about-content-right h4{
    color: orangered;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about-content-right p{
    color: white;
}

.about-cards{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}

.about_card{
    color: white;
    text-align: center;
}
.about_card>i{
    color: green;
    font-size: 30px;
}

.about-btn{
    width: 110px;
}



/* For Mobile Device: Checking Size- 400px */
@media all and (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 400px;
    }
    .aboutme_content{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }   
    .aboutme-image {
        width: 250px;
        height: 200px;
        margin-left: 100px;
        margin-bottom: 130px;
    }
    .about-content-right h4 {
        text-align: center;
    }
}





